# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.whl

# Env
.env
.env.*
!.env.example

# Django
*.log
staticfiles/
media/
db.sqlite3

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.bak
Thumbs.db
